<!DOCTYPE html>
<html>
  <head>
    <title>peer2></title>
  </head>
  <body>
	<video width=window.innerWidth height=window.innerHeight id="videobox2" >
  </video>
  <p>you are connected to peer2</p>
  <p id="chat"><p>
  </body>
</html>

<script src="/javascripts/peer.js"></script>

<script >
	var host= <%- JSON.stringify(host) %>
var peer = new Peer('peer2', {host: host, port: 9000, path:'/'});

peer.on('connection', function(conn) {
  console.log("connection with peer 1 made");
  conn.on('data', function(data){
    document.getElementById("chat").innerHTML="Message from Peer1: "+data;
    //console.log(data);
  });
});

var constraints = { audio: false, video: true }; 

  peer.on('call', function(call) {
  call.answer(); // Answer the call with an A/V stream. 
  call.on('stream', function(mediaConnection) {
      var video = document.getElementById("videobox2");
      video.srcObject  = mediaConnection;
      video.onloadedmetadata = function(e) {
        video.play();
      };
    });
});

</script>