/*Background color and font for all pages*/
    html{
    	position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
    body {
      	font: 14px "Arial";
        margin: 0;
        background: black;
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }

    video.peerVideo{
    	width: 100%;
    	height: auto; 
    }
    video.myVideo{
            
            border: 3px solid #73AD21;
            height: 0%;
            width:0%;
            right:20%;
            top:0%;
            position: absolute;

    }
   
    table.videos{

        border: 3px solid #73AD21;
        border-collapse: collapse;
        table-layout: fixed;
            }
  
    div.videos{
        position: absolute;
        bottom: 0;
        top:10%;
        right:0;
        left:0;
    }

    p{
    	color: white;
    }

    h1.aliasname {
    	position:fixed;
    	left: 0;
    	top: 0;
    	color: white;
    }
    h1.aliasname:hover{
    	color: red;
        cursor:pointer
    }

    .dropdown {
        position: absolute;
        right:0; 
        top:0;
        width:20%;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        background-color: white;
       overflow: auto;
       z-index:1;
       position:relative;
    }
    .dropdown:hover{
        border: 1.5px solid red;
        cursor: pointer;
    }
    .dropdown:hover .dropdown-content {
        display: block;
        cursor: pointer;
    }
 
th, td {
        border: 1.5px solid red;
}
th.aliaslist:hover{
    cursor: not-allowed;
}
tr.aliaslist:hover{
 background:red;
 cursor:pointer
}
    
